*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    cursor: pointer;
    text-decoration: none;
}

/*header section starts*/

header{
    width: 100%;
    display: flex;
    align-items: center;
    height: 100px;
    box-shadow: 0px 3px 2px -1px rgb(238, 236, 236);
    position: relative;
    


}

header .container{
    
    width:100%;
    display: flex;
    align-items: center;
    position: relative;

}
.container .logo{
    margin-right: 2rem;
}

.container .nav{
    display: flex;
   
}
.nav ul{
    display: flex;
    justify-content: center;


}
ul .nav-content {
    
    font-weight: 600;
    cursor: pointer;
    padding-right: 20px;
}
ul .nav-content:hover{
    color: rgb(39, 95, 39);
}

.sign-in{
    position: absolute;
   right: 0;
}
.sign-in .location{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;

}
.location img{
    margin-right: 10px;
}
.sign-in .signin-btns ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in .signin-btns ul .signin{
    border: 1px solid black;
    margin-right: 20px;
    padding: 3px 13px;
    border-radius: 25px;
   
}
.signin:hover{
    background-color: rgb(240, 234, 234);
}
.signin a{
    font-size: 1rem;
    color: black;
    
}
.sign-in .signin-btns ul #join-now{
    border: 1px solid black;
    margin-right: 20px;
    padding: 3px 13px;
    border-radius: 25px;
    background-color: black;
    
}#join-now a{
    font-size: 1rem;
    color:#fff;
}
.sign-in .signin-btns ul #join-now:hover{
   background-color: black;opacity: 0.6;
}


/*header section ends*/


/*reward div style section starts*/
.color-box{
    background-color:#1e3932;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 192px;
    color: #fff;
}
.color-box .rewards{
    border: 1px solid #fff;
    margin-right: 20px;
    padding: 7px 18px;
    border-radius: 25px;
}
.rewards a{
    font-size: 1rem;
    color:#fff;
    font-weight: 500;
}
.rewards:hover{
    background-color: rgb(240, 234, 234,0.1);
    
}


/*reward section ends*/